@charset "UTF-8";

.mainvisual {
  width: 100%;
  position: relative;
  &__heading{
    position: absolute;
    top: 34%;
    right: 26%;
    color: #fff;
    writing-mode: vertical-rl;
    font-size: 0.34rem;
    font-weight: 800;
    line-height: 2.5;
    z-index: 5;
    letter-spacing: 0.5em;
    @include mq('sp') {
      font-size : 0.5rem;
      letter-spacing: 0.2em;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);     
      line-height: 1.8;
      font-weight: 500;
    }
  }
}

/* swiper -----------------------------------------*/
@-webkit-keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

/*  zoomup * 1.15  */
@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

.swiper-slide {
  overflow: hidden;
  backface-visibility: hidden;
}

/* animation zoomup 12s */
.swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img {
  animation: zoomUp 12s linear 0s;
  animation-fill-mode: both;
}

.slide-img {
  background-size: cover; 
  background-position: center center;
  height: 1079px;
  @include mq('sp') {
    height: 100vh;
  }
}

